.page-home {
	border: var(--border);
}
.page-home-introduce {
	display: flex;
	height: 100%;
	width: auto;
	align-items: center;
	margin-left: 100px;
	font-size: 40px;
	font-weight: 300;
	font-family: "Black Han Sans", sans-serif;
}
