@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "page-home.css";
@import "var.css";
@import "page-about.css";
@import "instar.css";
@import "loading.css";
@import "page-contact.css";
html{
	scroll-behavior: smooth;
}
.page {
	height: 100vh;
}
.toolbar-support {
	height: 57px;
}
